<p class="titulos">Listado de pacientes</p>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="obraSocial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Obra Social </th>
        <td mat-cell *matCellDef="let element"> {{element.obraSocial}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="numeroAfiliado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Afiliado </th>
      <td mat-cell *matCellDef="let element"> {{element.numeroAfiliado}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [appHoverButton] *matRowDef="let row; columns: displayedColumns;" (click)="seleccionar(row)"></tr>
  </table>