<div class="flex-container">
  <div class="img-container">
    <img class='thumbnail' [src]="imgPerfil" alt="Foto de perfil">
  </div>
  <div>
    <h4>Nombre:</h4>
    <p>{{paciente.nombre}}</p>
    <h4>Dni:</h4>
    <p>{{paciente.dni}}</p>
    <h4>Dirección:</h4>
    <p>{{paciente.direccion}}</p>
  </div>
  <div>
    <h4>Telefono:</h4>
    <p>{{paciente.telefono}}</p>

    <h4>E-mail:</h4>
    <p>{{paciente.email}}</p>
  </div>
  <div>
    <h4>N° Afiliado:</h4>
    <p>{{paciente.numeroAfiliado}}</p>
    <h4>Obra Social:</h4>
    <p>{{paciente.obraSocial}}</p>

  </div>
</div>