<div appElevation class="flex-container">
  <div class="img-container">
    <img class='thumbnail' [src]="imgPerfil" alt="Foto de perfil">
  </div>

    <mat-chip-list class="mat-chip-list-stacked" aria-label="Datos personales">
      <mat-chip color="primary" [selectable]="false">
        <strong>Nombre:&nbsp;</strong>{{paciente.nombre}}
      </mat-chip>
      <mat-chip color="primary" [selectable]="false">
        <strong>D.N.I.:&nbsp;</strong>{{paciente.dni}}
      </mat-chip>
      <mat-chip color="primary" [selectable]="false">
        <strong>Direccion:&nbsp;</strong>{{paciente.direccion}}
      </mat-chip>
       <mat-chip color="primary" [selectable]="false">
        <strong>Telefono:&nbsp;</strong>{{paciente.telefono}}
      </mat-chip>
      <mat-chip color="primary" [selectable]="false">
        <strong>Email:&nbsp;</strong>{{paciente.email}}
      </mat-chip>
    </mat-chip-list>   

    <mat-chip-list class="mat-chip-list-stacked" aria-label="Datos personales 2">
      <mat-chip color="primary" [selectable]="false">
        <strong>Numero de afiliado:&nbsp;</strong>{{paciente.numeroAfiliado}}
      </mat-chip>
      <mat-chip color="primary" [selectable]="false">
        <strong>Obra Social:&nbsp;</strong>{{paciente.obraSocial}}
      </mat-chip>      
    </mat-chip-list>   
  
</div>