<h2><p class="page">Ingrese sus datos</p></h2>
<hr>
<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="datosMedico">
    <form [formGroup]="datosMedico">
      <ng-template matStepLabel>Datos personales</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput placeholder="Ingrese su nombre y apellido" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>DNI</mat-label>
        <input formControlName="dni" matInput type="number" placeholder="Ingrese su número de DNI"  required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Direccion</mat-label>
        <input formControlName="direccion" matInput placeholder="Ingrese su dirección completa" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input formControlName="telefono" matInput type="tel" placeholder="Ingrese su número de contacto" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Imagen</mat-label>
        <input formControlName="imagen" matInput  placeholder="Aca falta control para file"  required>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="datosMedico">
    <form [formGroup]="datosMedico">
      <ng-template matStepLabel>Datos laborales</ng-template>
      
      <mat-form-field appearance="fill">
        <mat-label>Número de matricula</mat-label>
        <input formControlName="matricula" matInput placeholder="Ingrese su numero de matrícula" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Disponibilidad</mat-label>
        <mat-select formControlName="disponibilidad" multiple>
          <mat-option *ngFor="let horario of franjaHoraria" [value]="horario">{{horario}}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Select -->
      <!-- <mat-form-field appearance="fill">
        <input matInput placeholder="Ingrese su obra social o prepaga" required>
      </mat-form-field> -->
      <br>
      <mat-label>Especialidades</mat-label>
      <mat-divider></mat-divider>
      <mat-selection-list formControlName="especialidad" appearance="fill" role="listbox">
        <mat-list-option *ngFor="let especialidad of especialidades" [value]='especialidad' role="option">
          {{especialidad}}
        </mat-list-option>
      </mat-selection-list>

     
      <!-- <section class="especialidades" *ngFor="let especialidad of especialidades">
        <<mat-checkbox (click)="$event.stopPropagation()"
        (change)="$event ? seleccion.toggle(especialidad) : null"
        [checked]="seleccion.isSelected(especialidad)">{{especialidad}}</mat-checkbox>
      </section> -->

      <!-- <section *ngFor="let especialidad of especialidades">
        <mat-checkbox [checked]="seleccion.isSelected(especialidad)" 
        (change)="toggle($event)">{{especialidad}}</mat-checkbox>
      </section> -->

    </form>
  </mat-step>
  <mat-step [stepControl]="datosMedico">
    <form [formGroup]="datosMedico">
      <ng-template matStepLabel>Datos para usuario</ng-template>
      <p>Estos datos se utilizarán para su inicio se sesión.</p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" placeholder="Ingrese su direccion de correo electrónico" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Clave</mat-label>
        <input formControlName="clave" matInput type="password" placeholder="Ingrese su contraseña" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Avatar</mat-label>
        <input formControlName="imagenDos" matInput placeholder="Ingrese imagen para perfil" required>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    <h4><p>Si está seguro de que sus datos sean correctos presione confirmar</p></h4>
    <div>
      <button mat-raised-button (click)="alta()" color="primary" >Confirmar</button>
      <button mat-raised-button (click)="stepper.reset()">Limpiar todo</button>
    </div>
  </mat-step>
</mat-vertical-stepper>