.example-card {
    box-sizing: border-box;
}
  
.flex-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  background-color: rgb(226, 216, 238);
  justify-content: space-evenly;
  border-radius: 15px;
  width: 650px;
}
  
.img-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}