<h3>Detalles del turno</h3>
<p>{{data.detalle}} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloribus debitis amet veritatis illum ullam dolor ipsa laborum sit fuga in, quasi laudantium et? Quidem itaque ut tenetur libero atque sequi sapiente? Consectetur laudantium accusantium molestiae, ut eos neque aut natus quod autem alias impedit amet accusamus corrupti ea iusto?</p><br>
<hr>
<h3>Comentarios del paciente</h3>
<p>{{data.comentarios}} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, rerum id aliquid, dolor recusandae laboriosam optio sed harum aperiam a libero nihil, nostrum necessitatibus tempora.</p>
