<div class="page">
    <h1 class="titulos">Menú de usuario</h1>
    <hr>
    <div *ngIf='usuario'>
       
        <mat-grid-list cols="4" rowHeight="90px">
            <mat-grid-tile [colspan]=3 [rowspan]=4 [style.background]="'blue'">
                
                <div *ngIf='paciente'>
                    <app-detalle-paciente class="detalle" [paciente]='paciente'></app-detalle-paciente>
                </div>
                <div *ngIf='medico'>
                    <app-detalle-medico class="detalle" [medico]='medico'></app-detalle-medico>
                </div>
                <div *ngIf='administrador'>
                    <app-detalle-administrador class="detalle" [administrador]="administrador"></app-detalle-administrador>
                </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]=1 [rowspan]=4 [style.background]="'green'">
                Aca va listado de turnos para medicos o pacientes
                <!-- <mat-table *ngFor='let turno of turnos' class="mat-elevation-z8">


                    <ng-container>
                        <mat-header-cell *matHeaderCellDef> Especialidad </mat-header-cell>
                        <mat-cell> {{turno.especialidad}} </mat-cell>
                    </ng-container>

                    <ng-container>
                        <mat-header-cell> Fecha </mat-header-cell>
                        <mat-cell> {{turno.fecha}} </mat-cell>
                    </ng-container>

                </mat-table> -->
            </mat-grid-tile>

            <mat-grid-tile *ngIf='administrador' [colspan]=1 [rowspan]=4 [style.background]="'purple'">
                Aca va listado de medicos para administradores
                <!-- <mat-table *ngFor='let turno of turnos' class="mat-elevation-z8">


                    <ng-container>
                        <mat-header-cell *matHeaderCellDef> Especialidad </mat-header-cell>
                        <mat-cell> {{turno.especialidad}} </mat-cell>
                    </ng-container>

                    <ng-container>
                        <mat-header-cell> Fecha </mat-header-cell>
                        <mat-cell> {{turno.fecha}} </mat-cell>
                    </ng-container>

                </mat-table> -->
            </mat-grid-tile>


            <!-- <mat-grid-tile [colspan]=3 [rowspan]=1 [style.background]="'orange'">
                Aca van los botones de opciones
                <div class="example-button-row">
                    <a mat-stroked-button (click)="modificar()">Modificar datos</a>
                    <a mat-stroked-button (click)="borrar()">Baja de usuario</a>
                    <div *ngIf='administrador'>
                        <a mat-stroked-button (click)="modificar()">Modificar datos</a>
                        <a mat-stroked-button (click)="borrar()">Baja de usuario</a>
                    </div>
                </div>
            </mat-grid-tile> -->

        </mat-grid-list>
        <mat-toolbar>
            <div class="botones">
                <div *ngIf='administrador'>
                    <button mat-raised-button color="primary" (click)="altaAdmin()">Alta de Admin</button>
                    <button mat-raised-button color="primary" (click)="autorizar()">Autorizar</button>
                </div>
                <button mat-raised-button class="default" (click)="modificar()">Modificar datos</button>
                <button mat-raised-button class="default" (click)="logout()">Cerrar Sesion</button>
                <button mat-raised-button class="warning" (click)="borrar()">Baja de usuario</button>
            </div>
        </mat-toolbar>
    </div>
    <div *ngIf='!usuario'>
        <p>Usted no ha iniciado sesión</p>
    </div>
</div>