
.titulos{
    margin-left: 22px;
    font-weight: bold;
    font-size: larger;
}

mat-toolbar {
    width: 100%;
    background-color: rgb(225, 224, 228);
}

mat-table {
    width: 100%;
    background-color: rgb(234, 234, 248);    
  }

mat-row:hover{
    background-color: lightsteelblue;
    color: black;
}

tr{
    transition: 0.1s;
}

.tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
}


th{
font-size: medium;
}

.frame
{
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

.botones button{
    margin-right: 25px;
    margin-left: 25px;
}

.warning{
    background-color: rgb(253, 106, 106);
}

.default{
    background-color: rgb(144, 180, 247);
}

.detalle
{
    background-color: rgb(224, 212, 236);
}


.toolbar-text{
    display: flex;
    justify-content: right;
    background-color: rgb(234, 234, 248);
    max-height: 40px;
    font-size: smaller;
    
}
