

mat-toolbar {
    width: 100%;
    background-color: rgb(225, 224, 228);
}

mat-table {
    width: 100%;
    background-color: rgb(234, 234, 248);
  }

  mat-row:hover{
background-color: lightsteelblue;
color: black;
}

tr{
transition: 0.1s;
}

.tabla{
    display: flex;
    flex-direction: column;
}


th{
font-size: medium;
}

.frame
{
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

.botones button{
    margin-right: 25px;
    margin-left: 25px;
}

.warning{
    background-color: rgb(253, 106, 106);
}

.default{
    background-color: rgb(144, 180, 247);
}

.detalle
{
    background-color: rgb(224, 212, 236);
}

