<div class="menu layout">
    <h2 mat-dialog-title>Encuesta</h2>
    <mat-dialog-content class="mat-typography">
        <div class="column">
            <div *ngIf="encuesta.nombre">
                <h3>Nombre</h3>
                <p>{{encuesta.nombre}}</p>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="encuesta.edad > 0">
                <h3>Edad</h3>
                <p>{{encuesta.edad}}</p>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="encuesta.sexo">
                <h3>Sexo</h3>
                <p>{{encuesta.sexo}}</p>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="encuesta.fechaAtencion">
                <h3>Fecha de atencion</h3>
                <p>{{encuesta.fechaAtencion}}</p>
                <mat-divider></mat-divider>
            </div>

        </div>
        <div class="column">
            <div *ngIf="encuesta.especialidad">
                <h3>Especialidad</h3>
                <p>{{encuesta.especialidad}}</p>
                <mat-divider></mat-divider>
            </div>
            <div>
                <h3>Fue su primera atencion</h3>
                <p>{{encuesta.primeraAtencion | booleano}}</p>
                <mat-divider></mat-divider>
            </div>
            <div>
                <h3>Nivel de satisfaccion</h3>
                <p>{{encuesta.satisfaccion}}</p>
                <mat-divider></mat-divider>
            </div>
            <div>
                <h3>Frecuencia de atención del último mes</h3>
                <p>{{encuesta.frecuenciaAtencion}}</p>
                <mat-divider></mat-divider>
            </div>
            <div>
                <h3>Recomendaría</h3>
                <p>{{encuesta.recomienda | booleano}}</p>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="encuesta.medioComunicacion">
                <h3>Medio de comunicacion</h3>
                <p>{{encuesta.medioComunicacion}}</p>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="encuesta.educacion">
                <h3>Nivel de educacion</h3>
                <p>{{encuesta.educacion}}</p>
                <mat-divider></mat-divider>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>
</div>