<mat-card class="panel">
  <mat-card-header>
    <img mat-card-avatar [src]='avatarSrc' >
    <mat-card-title>{{medico.nombre}}</mat-card-title>
    <mat-card-subtitle>Matricula N°: {{medico.matricula}}</mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <div class="panel">
      <img class='thumbnail' mat-card-image [src]='imgSrc' alt="Foto del medico">
    </div>
    <mat-accordion>
      <mat-expansion-panel [appEstado]>
        <mat-expansion-panel-header color="primary">
          <mat-panel-title>
            Especialidades
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list #especialidades [multiple]="false"
          (selectionChange)='especialidad(especialidades.selectedOptions.selected)'>
          <mat-list-option *ngFor='let especialidad of medico.especialidad' [value]="especialidad">
            {{especialidad}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Día de atención
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list *ngFor='let dia of medico.diasAtencion'>
          <mat-list-item> {{dia | diaAtencion}} </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Horario de atención
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list *ngFor='let horario of medico.horasAtencion'>
          <mat-list> {{horario}} </mat-list>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Consultorio
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <mat-label>{{medico.consultorio}}</mat-label>
        </div>
      </mat-expansion-panel>
      <!-- Se habilita solamente si el usuario es administrador -->
      <mat-expansion-panel *ngIf="usuario.rol == 1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos personales
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item> Autorizado: {{medico.autorizado}} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> D.N.I.: {{medico.dni}} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> Direccion: {{medico.direccion}} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> Teléfono : {{medico.telefono}} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> E-mail {{medico.email}} </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
  <mat-card-actions>
    <!-- Se habilita solamente si el usuario es paciente -->
    <button *ngIf="usuario.rol == 3" mat-stroked-button (click)='pedirTurno()'>Pedir turno</button>
    <button *ngIf="usuario.rol == 1" mat-stroked-button (click)='autorizar()'>Autorizar</button>
    <button mat-stroked-button (click)='this.dialogRef.close()'>Volver</button>
  </mat-card-actions>
</mat-card>