<mat-card class="panel">
    <mat-card-header>
      <mat-card-title>{{medico.nombre}}</mat-card-title>
      <mat-card-subtitle>Matricula N°: {{medico.matricula}}</mat-card-subtitle>
       
    </mat-card-header>
    <mat-card-content>
        <div class="panel">
          <img class="thumbnail" mat-card-image [src]='imgSrc' alt="Foto del medico">
        </div>  
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header color="primary">
                    <mat-panel-title>
                        Especialidades
                    </mat-panel-title>                    
                  </mat-expansion-panel-header>
                  <mat-selection-list #especialidades [multiple]="false" 
                  (selectionChange)='especialidad(especialidades.selectedOptions.selected)' >
                    <mat-list-option *ngFor='let especialidad of medico.especialidad' [value]="especialidad" >
                      {{especialidad}}
                    </mat-list-option>
                  </mat-selection-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Día de atención
                    </mat-panel-title>                    
                  </mat-expansion-panel-header>
                  <mat-list *ngFor='let dia of medico.diasAtencion'>
                    <mat-list-item> {{dia}} </mat-list-item>
                  </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Horario de atención
                  </mat-panel-title>                    
                </mat-expansion-panel-header>
                <mat-list *ngFor='let horario of medico.horasAtencion'>
                  <mat-list> {{horario}} </mat-list>
                </mat-list>
          </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Consultorio
                    </mat-panel-title>                                        
                  </mat-expansion-panel-header>
                  <div>
                    <mat-label>{{medico.consultorio}}</mat-label>
                  </div>

            </mat-expansion-panel>
          
        </mat-accordion>

    </mat-card-content>
    <mat-card-actions *ngIf='datosCompletos'>
        <button mat-stroked-button>Autorizar</button>
        <button mat-stroked-button>Deshabilitar</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-stroked-button (click)='pedirTurno()'>Pedir turno</button>
        <button mat-stroked-button (click)='this.dialogRef.close()'>Volver</button>
    </mat-card-actions>
  </mat-card>