.mat-stepper-vertical {    
    margin-top: 8px;
    padding: 0 2px 2px 5px;
    background-color: #F8F8FF;
  }
  
.mat-form-field {
  margin-top: 16px;
  padding-right: 10px;
  background-color: #F8F8FF;
}

.page{
  background-color: #F8F8FF;
  padding-top: 3px;
  margin-left: 25px;
}



  input[type="file" i] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-align: start !important;
  margin-right:250px;
  margin-bottom: 15px;
  padding: 10px 5px 10px 0;
  border-style: hidden;
  border-radius: 10px;
}
