<mat-card>
    <mat-card-header>
        <mat-card-title>{{paciente.nombre}}</mat-card-title>
        <mat-card-subtitle>N° Afiliado: {{paciente.obraSocial}}</mat-card-subtitle>
        <mat-card-subtitle>N° Afiliado: {{paciente.numeroAfiliado}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="panel">
            <img class="thumbnail" mat-card-image [src]='imgSrc' alt="Foto del paciente">
        </div>
            <mat-panel-title>
                Datos personales
            </mat-panel-title>
        <div>
            <mat-label>Dni: {{paciente.dni}}</mat-label><br>
            <mat-label>Dirección: {{paciente.direccion}}</mat-label><br>
            <mat-label>Telefono: {{paciente.telefono}}</mat-label><br>
            <mat-label>E-mail: {{paciente.email}}</mat-label><br>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button (click)='this.dialogRef.close()'>Volver</button>
    </mat-card-actions>
</mat-card>