<form class="example-form">
  <!-- Nombre -->
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input formControl="nombre" matInput disabled>
  </mat-form-field>

  <!-- Edad -->

  <mat-form-field class="example-full-width">
    <mat-label>Edad</mat-label>
    <input type="text" matInput placeholder="Ingrese su edad"></input>
  </mat-form-field>

  <!-- Sexo -->
  <section class="example-section">
    <label class="example-margin">Sexo</label>
    <mat-radio-group>
      <mat-radio-button class="example-margin" value="after">Masculino</mat-radio-button>
      <mat-radio-button class="example-margin" value="before">Femenino</mat-radio-button>
    </mat-radio-group>
  </section>

  <!-- Fecha de atencion -->
  <mat-form-field class="example-full-width">
    <mat-label>Fecha de atención</mat-label>
    <input formControl="fecha" matInput>
  </mat-form-field>

  <!-- Especialidad -->
  <mat-form-field class="example-full-width">
    <mat-label>Especialidad</mat-label>
    <input matInput>
  </mat-form-field>

  <!-- Nivel satisfaccion -->
  <mat-label>Indique nivel de satisfaccion de la atención</mat-label>
  <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="10"></mat-slider>

  <!-- Primera vez -->
  <mat-label>¿Fue su primera atención?</mat-label>
  <mat-slide-toggle>Slide me!</mat-slide-toggle>

  <!-- Frecuencia -->
  <mat-form-field>
    <mat-label>¿Cuantas veces se ha atendido en un mes?</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="freq">
      <mat-option *ngFor="let frecuencia of frecuencias" [value]="frecuencia">
        {{frecuencia}}
      </mat-option>
  </mat-select>

  <!-- Recomendacion -->
  <mat-label>¿Recomendaria la atencion?</mat-label>
  <mat-slide-toggle>Slide me!</mat-slide-toggle>

  <!-- Como nos conocio -->
  <mat-form-field>
    <mat-label>¿Como nos conocio?</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="freq">
      <mat-option *ngFor="let frecuencia of frecuencias" [value]="frecuencia">
        {{frecuencia}}
      </mat-option>
    </mat-select>




</form>