.example-small-box, .example-large-box {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 16px;
    padding: 0 0 50px 0;
    border-radius: 8px;
  }
  
  
  .example-large-box {
    display: flex;
    margin: auto;    
    height: 750px;
    width: max-content;
  }

  .container{
    display: flex;
    justify-content: center;
    margin: auto;
    
  }
