<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataTurnos" class="frame" >

        <ng-container matColumnDef="especialidad">
            <mat-header-cell *matHeaderCellDef> Especialidad </mat-header-cell>
            <mat-cell *matCellDef="let turno"> {{turno.especialidad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let turno"> {{turno.estado}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let turno"> {{turno.fecha}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnasTurnos"></mat-header-row>
        <mat-row (click)="seleccionarTurno(row)" class="example-element-row"
            *matRowDef="let row; columns: columnasTurnos;"></mat-row>
    </mat-table>
    <mat-paginator [length]="100" [pageSize]="4" showFirstLastButtons>
    </mat-paginator>
</div>