.example-card {
    max-width: 400px;
    background-color: #E6E6FA;  
    padding-bottom: 35px;
    margin: 30px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-content
{
    padding: 5px;
    margin-top: 10px;
   
}

