<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{turno.especialidad}}</mat-card-title>
      <mat-card-subtitle>Consultorio: {{turno.consultorio}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <ul>
            <li>Fecha: {{turno.fecha}}</li>
            <li>Usted se atenderá con: {{turno.nombreMedico}}</li>
            <li>Detalles: {{turno.detalle}}</li>
            <li>Estado de su turno: {{turno.estado}}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button>Modificar</button>
    </mat-card-actions>
  </mat-card>