.example-card {
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
    background-color: #E6E6FA;  
    margin: 50px 50px 0 50px;
    width: 700px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-content
{
    display: flexbox;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px;
    margin-top: 10px;
    max-height: 300px;
}

mat-chip {
    max-width: 250px;
  }


.button-group
{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: center;
    padding: 5px;
    max-height: 300px;
    margin-bottom: 0;
}
 .button-group > button
{
    margin-top: 10px;
    max-height: 300px;
    width: max-content;
}