table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

.container{
  display: flex;
  flex-direction: column;
}

tr{
  transition: 0.1s;
}

tr:hover{
  background-color: lightsteelblue;
  color: black;
}

th{
  font-size: medium;
}
