<mat-label><p class="titulos">Listado de médicos</p></mat-label> 
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Profesional </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="especialidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </th>
      <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
    </ng-container>

    <ng-container matColumnDef="diasAtencion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias de atención </th>
        <td mat-cell *matCellDef="let element"> {{element.diasAtencion}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="seleccionar(row)"></tr>
  </table>