<div class="page">
    <div class="titulos">
        <h1>Informes</h1>
    </div>
    <div  *ngIf="sesiones" >
        <div>
            <button mat-raised-button (click)="guardarPDF()">PDF</button>
            <button mat-raised-button (click)="guardarExcel()">Excel</button>
        </div>
        <app-grafico-lineas [sesiones]="sesiones"></app-grafico-lineas>
    </div>
    <app-grafico-columnas></app-grafico-columnas>

    <app-grafico-barras></app-grafico-barras>
    <app-grafico-area></app-grafico-area>
        <app-grafico-torta></app-grafico-torta>
</div>

<!-- 
<div *ngIf="usuario.rol == 1">
    <p class="parrafo">Graficos para administradores</p>
</div>

<div *ngIf="usuario.rol == 2">
    <p class="parrafo">Graficos para medicos</p>
</div>

<div *ngIf="usuario.rol == 3">
    <p class="parrafo">Graficos para pacientes</p>
</div> -->