.example-container {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    padding: 30px;
    margin: auto;;
    border-radius: 15px;
    background-color: whitesmoke;
    
  }

.page{
  background-color: #F8F8FF;
  height: 90%;
}
  
