<div class="page">
  <br>
  <mat-drawer-container  autosize >
    <form [formGroup]='datosLogin' class="example-container">
      <h1>Iniciar sesión</h1>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su email</mat-label>
        <input formControlName='email' matInput placeholder="pat@example.com" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su contraseña</mat-label>
        <input formControlName='clave' matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)='login()' [disabled]='disabled'>Entrar</button>
      <button mat-raised-button matTooltip="Login con perfiles de prueba" color="accent"
        (click)="drawer.toggle()">Seleccionar perfil</button>
      <br>
      <re-captcha (resolved)="resolved($event)" ></re-captcha>
    </form>

    <mat-drawer #drawer mode="over" class="botones" >
      <button mat-raised-button (click)='autocomplete(adminTest)' color="primary">Perfil Admin</button>
      <button mat-raised-button (click)='autocomplete(medicoTest_1)'>Perfil Medico 1</button>
      <button mat-raised-button (click)='autocomplete(medicoTest_2)'>Perfil Medico 2</button>
      <button mat-raised-button (click)='autocomplete(pacienteTest_1)' color="accent">Perfil Paciente 1</button>
      <button mat-raised-button (click)='autocomplete(pacienteTest_2)' color="accent">Perfil Paciente 2</button>
    </mat-drawer>
  </mat-drawer-container>
</div>