.example-container {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    padding: 30px;
    margin: auto;
    border-radius: 15px;
    background-color: whitesmoke;    
}


  
.botones button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 10px;
}

.botones button:hover{
  box-shadow: 2px 2px 2px 2px rgba(95, 66, 241, 0.5);
  transition: ease-in-out;
  transition-delay: 10ms;
}