<mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{medico.nombre}}</mat-card-title>
      <mat-card-subtitle>Matricula N°: {{medico.matricula}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content >
        <mat-accordion >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Especialidades
                    </mat-panel-title>                    
                  </mat-expansion-panel-header>
                  <div *ngFor='let especialidad of medico.especialidad'>
                    <mat-label>-{{especialidad}}</mat-label>
                  </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Disponibilidad
                    </mat-panel-title>                    
                  </mat-expansion-panel-header>
                  <div>
                    <mat-label>{{medico.disponibilidad}}</mat-label>
                  </div>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Consultorio
                    </mat-panel-title>                                        
                  </mat-expansion-panel-header>
                  <div>
                    <mat-label>{{medico.consultorio}}</mat-label>
                  </div>

            </mat-expansion-panel>
            <mat-expansion-panel *ngIf='datosCompletos'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Datos personales
                    </mat-panel-title>                                        
                  </mat-expansion-panel-header>
                  <div>
                    <mat-label>Dni: {{medico.dni}}</mat-label><br>
                    <mat-label>Dirección: {{medico.direccion}}</mat-label><br>
                    <mat-label>Telefono: {{medico.telefono}}</mat-label><br>
                    <mat-label>E-mail: {{medico.email}}</mat-label><br>
                    <mat-label>Autorizado: {{medico.autorizado}}</mat-label><br>
                  </div>

            </mat-expansion-panel>
        </mat-accordion>
<!-- 
        <mat-list dense>
            <mat-list-item><b>Especialidades:</b></mat-list-item>
            <mat-list-item *ngFor='let especialidad of medico.especialidad'>-{{especialidad}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>Disponibilidad:&nbsp;</b> {{medico.disponibilidad}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>Consultorio:&nbsp;</b> {{medico.consultorio}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list> -->

        <!-- <div *ngIf='datosCompletos'>
            <mat-list dense>
                <h4>Datos personales: </h4>
                <mat-divider></mat-divider> 
                <mat-list-item><b>Dni:&nbsp;</b> {{medico.dni}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><b>Dirección:&nbsp;</b> {{medico.direccion}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><b>Teléfono:&nbsp;</b> {{medico.telefono}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><b>E-mail:&nbsp;</b> {{medico.email}}</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <!-- <h3>Datos personales</h3>
            <ul>
                <li>Dni: {{medico.dni}}</li>
                <li>Direccion: {{medico.direccion}}</li>
                <li>Teléfono: {{medico.telefono}}</li>
                <li>E-mail: {{medico.email}}</li>
            </ul> 
        </div>-->
    </mat-card-content>
    <mat-card-actions *ngIf='datosCompletos'>
        <button mat-stroked-button>Autorizar</button>
        <button mat-stroked-button>Deshabilitar</button>
        
    </mat-card-actions>
    <mat-card-actions>

        <button mat-stroked-button>Pedir turno</button>
        <button mat-stroked-button>Volver</button>
    </mat-card-actions>
  </mat-card>