<mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{medico.nombre}}</mat-card-title>
      <mat-card-subtitle>N° Matricula: {{medico.matricula}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]='imgSrc' alt="Foto del medico">
    <mat-card-content >
      <mat-list dense>
        <mat-list-item *ngFor='let especialidad of medico.especialidad'>Especialidad: {{especialidad}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Dni: {{medico.dni}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Dirección: {{medico.direccion}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>E-mail: {{medico.email}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>