.example-card {
    box-sizing: border-box;
}
  
.flex-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  background-color: rgb(234, 226, 243);
  justify-content: space-evenly;
  border-radius: 15px;
  width: 800px;
}
  
.img-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  max-height: 200px;
}

mat-chip-list{
  padding: 5px;
  margin: 10px;
}

mat-chip{
  height: fit-content;
}