@keyframes opacity {
  0%   {opacity: 0;}
  50%  {opacity: 0.5;}
  100% {opacity: 1;}
}

.page
{
    background-color: #F8F8FF;
    height: 90%;
    padding-top: 3px;
}

img:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 140, 186, 0.5);
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;
  margin: 5px; 
  width: 260px;
  height: 260px;
  line-height: 260px;
  background-color: #E6E6FA;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.scroll-container {
  position: relative;
}

.list{
  display: flex;
  flex-direction: column;
}

.main-options{
  display: flexbox;
  flex-wrap: wrap;
  background-color: #F8F8FF;
  animation-name: opacity;
  animation-duration: 2s;
}

.main-image{
  background-color: #F0F8FF;
  animation-name: opacity;
  animation-duration: 1s;
}

mat-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #F8F8FF;
}

.img-row{
  display: flex;
  flex-direction: row;
}


mat-expansion-panel{
  background-color: #F8F8FF;   
  width: 350px;
}


.example-viewport {
  height: 180px;
  width: 300px;
}
