.page
{
    background-color: #F8F8FF;
    height: 90%;
    padding-top: 3px;
}


img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    max-width: 80rem;
  }
  
img:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 140, 186, 0.5);
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 260px;
  height: 260px;
  line-height: 260px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.scroll-container {
  position: relative;
}

.list{
  text-align: left;
}