.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }

  .example-center-align {
    text-align: center;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .mat-form-field {
    margin-top: 16px;
    padding-right: 10px;
  }

  .form-alta{
    background-color: #F8F8FF;
    height: 90%;
  }


.titulos{
  margin-left: 22px;
  font-weight: bold;
  font-size: larger;
}