
.container{
    padding-top: 5px;
}

mat-grid-tile {    
 
    margin-bottom: 70px;
    padding-bottom: 25px;
  }

.page
{
    background-color: #F8F8FF;
    height: 100%;
    padding-top: 3px;
    padding-bottom: 5px;
}
