<div class="page">
  <div class="titulos">
    <h1>Turnos</h1>
  </div>
  <div *ngIf="usuario">
    <hr>

    <div>
      <h3>
        <p class="parrafo">Listado con buscador de turnos</p>
      </h3>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Buscar turno por valor</mat-label>
      <input [(ngModel)]="valor" name="valor" (keyup)="filtrar($event)" matInput>
    </mat-form-field>
    <div class="layout">
      <div class="tabla">
        <app-listado-turnos [filtro]="filtro" [turnos]='turnos' [pages]=6 (seleccionar)='seleccionarTurno($event)'>
        </app-listado-turnos>
      </div>
      <div *ngIf="turno" class="cards">
        <app-detalle-turno [turno]="turno"></app-detalle-turno>
      </div>
      <div *ngIf="!turno" class="box">
        <ul>
          <li> Seleccione el turno del listado para ver los detalles de su consulta </li>
          <br>
          <li> Podrá visualizar estado del turno, fecha, horario de atención y profesional correspondiente al turno
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="!usuario">
    <p class="parrafo">Usted no ha iniciado sesión</p>
  </div>
</div>