.example-container .mat-form-field + .mat-form-field {    
    margin-left: 8px;    
  }

.example-container{
  display: flexbox;
  margin-left: 50px;
  
}

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .botones{
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .botones mat-button-toggle{
    background-color: lightsteelblue;
  }


  .example-margin {
    margin: 0 10px;
  }

  .turno-field .mat-input-element {
    color: black;
    /* add input text color here */
  }


  .turno-field mat-label {
    color: black;
    /* add label text color here */
  }

  .mat-input-element::placeholder {
    color: black;
    
    /* add placeholder css here */
  }

  .page
{
    background-color: #F8F8FF;
    height: 90%;
    padding-top: 3px;
    width: 100%;
    padding-bottom: 15rem;
}