<div class="page">
  <h1 class="titulos">Alta turno</h1>
  <hr>

<form [formGroup]='datosTurnos' class="example-container">
    <h3></h3>
    <mat-form-field appearance="outline" class="employee-search-field">
        <mat-label>Especialidad</mat-label>
        <input formControlName="especialidad" matInput #input maxlength="10" placeholder='turno.especialidad' disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="employee-search-field">
        <mat-label>Profesional</mat-label>
        <input formControlName="nombreMedico" matInput #input maxlength="10"  disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="employee-search-field">
        <mat-label>Consultorio</mat-label>
        <input formControlName="consultorio" matInput #input maxlength="10"  disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="employee-search-field">
      <mat-label>Paciente</mat-label> 
      <input formControlName="nombrePaciente" matInput #input maxlength="10" disabled>
    </mat-form-field>

    <mat-form-field class="employee-search-field">
      <mat-label>Seleccione horario</mat-label>
      <mat-select [(value)]='turno.horario' >
        <mat-option  *ngFor="let horario of franjaHoraria" [value]="horario">
          {{horario}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="employee-search-field">
        <mat-label>Fecha de turno</mat-label>
        <input formControlName="fecha" matInput [matDatepicker]="picker"
               (dateInput)="addEvent('input', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  <hr>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle (click)='altaTurno()'>Pedir Turno</mat-button-toggle>
      <mat-button-toggle [routerLink]='["cartilla"]'>Volver</mat-button-toggle>
    </mat-button-toggle-group>


    </form>
  </div>