/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;    
}

* > body::-webkit-scrollbar  {
    display: none;

}

.titulos{
    margin-left: 22px;
}

.parrafo{
    margin: 35px;
}

/* .footer{
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: lightblue;
} */

.thumbnail
{
    max-width: 150px;
    max-height: 200px;
    border-radius: 15px;
    border-style: groove;
    border-width: 2px;
    padding: 10px;
    margin: auto;
}

.panel{
    display: flex;
    flex-direction: column;
}