/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;    
}

* > body::-webkit-scrollbar  {
    display: none;

}

.page
{
    background-color: #F8F8FF;
    height: 90%;
    padding-top: 3px;
}

.titulos{
    margin-left: 22px;
    font-weight: bold;
    font-size: larger;
}

.parrafo{
    margin: 20px;
}

.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: flex-start;
    background-color: #d6e2f0;
    opacity: 0.5;
    font-size: small;
}

.thumbnail
{
    max-width: 145px;
    max-height: 160px;        
    border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    -webkit-border-radius: 19px 19px 19px 19px;
    border: 3px solid #d6e2f0;
}

.panel{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8FF;
}

.dialog{
    display: flexbox;
    align-content: center;
    margin: auto;
    padding: 0;
    background-color: rgb(233, 233, 245);
}

:host {

    display: flex;
    overflow: hidden;
    height: 100vh;
  
    main {
      flex: 1;
      position: relative;
    }
  
    /deep/ router-outlet ~ * {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  
  }