<div class="page">
  <div class="titulos">
    <h1>Modificar turno</h1>
  </div>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Especialidad (Deshabilitado)</mat-label>
      <input matInput disabled>
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
          <mat-label>Nombre Paciente</mat-label>
          <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
          <mat-label>Nombre Profesional</mat-label>
          <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>
  
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
          <mat-label>Consultorio</mat-label>
          <input matInput disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
          <mat-label>Fecha</mat-label>
          <input matInput>
         </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
          <mat-label>Horario</mat-label>
          <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-label><h3>Estado del turno</h3></mat-label>
      <mat-label><h5>{{turno.estado}}</h5></mat-label>
      <br>
     
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="Aceptado">Aceptar</mat-button-toggle>
        <mat-button-toggle value="Rechazado">Rechazar</mat-button-toggle>
        <mat-button-toggle value="Confirmado">Confirmar</mat-button-toggle>
        <mat-button-toggle value="Cancelado">Cancelar</mat-button-toggle>
      </mat-button-toggle-group>
   </p>
  
  </form>
</div>